div#bookpicker {
  margin-left: -20em;
  width: 90%;
  }

div#bookpicker a {
  text-decoration: none;
  }
  
div.left h1, div.left h2 {
  border-bottom: none;
  }
  
  div.left {
  clear: both;
  float: left;
  text-align: right;
  width: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.left h2 {
  color: #333333;
}

div.right {
  float: right;
  text-align: left;
  width: 70%;
  margin: auto;
  color: #666666;
  font-size: 120%;
  margin-top: 1em;
  margin-bottom: .75em;
}

div.pdf {
  padding-left: 20px;
  background: url('images/pdf.png') no-repeat left center;
}
